#banner {
	width:100%;
}

.principal{
	background: #fafafa;
	padding: 30px;
}

.titulo-principal {
	padding-left: 20px;
}

.titulo-centralizado {
	text-align: center
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color: #ff00bf;
}

.itens {
	font-style: italic
}

.beneficios {
	background: #a7faf6;
	padding: 20px;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 50%;
}
 .mapa{
	display: flex;
justify-content: center; 
}

 .video{
	display: flex;
	justify-content: center; 
 }

 .caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
	display: flex;
}


nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #002fff;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #ff009d;
	text-decoration: underline;
}
